# build artifacts
build/
cmake-build-debug/
debian/changelog
debian/files
debian/kodi-pvr-livestreamclient-dbg.debhelper.log
debian/kodi-pvr-livestreamclient-dbg.substvars
debian/kodi-pvr-livestreamclient-dbg/
debian/kodi-pvr-livestreamclient.debhelper.log
debian/kodi-pvr-livestreamclient.postinst.debhelper
debian/kodi-pvr-livestreamclient.postrm.debhelper
debian/kodi-pvr-livestreamclient.substvars
debian/kodi-pvr-livestreamclient/
debian/tmp/
obj-x86_64-linux-gnu/
pvr.livestreamclient/addon.xml

# clion
.idea/

# Eclipse/CDT
.cproject
.project
.settings/
